<% provide(:title, "#{@beneficiary.firstname}'s Dashboard") %>
<div id="ben-opts">
	<p id="bene-apply" class="bene-options"> News </p>
	<p id="bene-apply" class="bene-options"> Apply </p>
	<p class="bene-options"> Clubs </p>
	<p class="bene-options"> Account </p>
</div>

<div id="ben-content">
</div>