<% provide(:title, "About") %>
<div class="content">
<h4  class="contact-header" style="margin-top: 100px;"> MISSION STATEMENT </h4>
	<div class="about">
	<p> Nemabollon provides a platform for the development of African enterprise by connecting global solutions and resources to African entrepreneurs. </p>
	<p> The name Nemabollon is derived from the Mandika language of Gambia, which means a lake that waters the land and provides loads of benefits to the people.</p>
	<p> We believe Enterprise development is key to the future development of Africa. </p>
</div>
</div>
