<% provide(:title, "Contact") %>
<div class="content">
	<div id="contact-info">
	<h1> Contact </h1>
	<%= render 'contacts/contact_form' %>
</div>
  <address id="co-address">
	Nemabollon Global Solutions<br>
	6754 Brace Street,<br>
	Detroit, MI 48228 <br>
	Phone - 1-248-818-3078 <br>
	Customer Service - 1-313-854-4513 <br>
	info@nemabollon.com <br>
  </address>