<% provide(:title, "Enterprises") %>
<div class="content">
	<div class="outer-form" style="width:80%; left: 10%; top: 150px;">
</div>
	<h4  class="contact-header" style="margin-top: 80px;"> FEATURED ENTERPRISES </h4>
</div>
