<% provide(:title, "Home") %>
<div class="content">
<div class="outer-form" style="width:80%; left: 6%; top: 150px;">
	<%  @highlights.each do |highlight| %>
	<div class="scrolling-wrapper">
	 <div class="highlight">
		<%= image_tag highlight.picture.url if highlight.picture? %>
		<%= highlight.caption %>
		<%= highlight.summary %>
	</div>
	</div>
<% end %>
</div>


</div>
