<% provide(:title, "Home") %>
<div class="content">
	<div id="main" class="main-content">
		<%= image_tag("gs.png", :alt => "icon", :class => "icon") %>
		<h4> Global Solutions</h4>
		<p class="deem-paragraph" id="main-p"> Provide global resources to fund verified African enterprises </p>
	</div>

	<div id="fund" class="main-content">
		<%= image_tag("fund.png", :alt => "icon", :class => "sicon", width: "91", height: "80") %>
		<h4>Fund Enterprise</h4>
		<p class="deem-paragraph" id='fund-p'> Pool resources with other members to fund various investments across the African continent </p>
	</div>

	<div id="growth" class="main-content">
		<h4> Economic Growth </h4>
		<p class="deem-paragraph" id='eco-p'> Through investing in small business which are the the backbone of innvation, wealth and development </p>
	</div>

	<div id="roi" class="main-content">
		<h4>Return on Investment </h4>
		<p class="deem-paragraph" id='con-p'> Earn a ROI through funding of enterprises </p>
	</div>

	<div id="connect" class="main-content">
		<%= image_tag("connect.png", :alt => "icon", :class => "sicon", width: "91", height: "80") %>
		<h4>Connect </h4>
		<p class="deem-paragraph" id='roi-p'> Connect with other investors to provide financial and intellectual resources for enterprise </p>
	</div>
</div>
