<% provide(:title, "Ventures") %>
<div class="content">
	<h4  class="contact-header" style="margin-top: 80px;"> HOW IT WORKS</h4>


	
	<div class="venture-info">
		<h4 class="contact-header"> Members </h4>
		<p id="venture-member-parag" class="venture-paragraph"> Pool their resources into prefered investment or enterprise opportunities in  African countries and across the Globe </p>
		</div>



	<div class="venture-info">
		<h4 class="contact-header"> Clubs </h4>
		<p id="venture-ben-parag" class="venture-paragraph" > Beneficiaries access funds to run their small + medium sized enterprises </p>
	</div>



	<div class="venture-info">
		<h4 class="contact-header"> Beneficiaries </h4>
		<p id="venture-imp-parag" class="venture-paragraph"> Small + Medium sized enterprises are important in providing prosperity for local economies and the countries </p>
	</div>


	<div class="venture-info">
		<h4 class="contact-header"> Economies + Communities </h4>
		<p id="venture-provide" class="venture-paragraph"> Provide Investors with a ROI </p>
	</div>

	<div class="venture-info">
		<h4 class="contact-header"> Return On Investment </h4>
		<p id="venture-roi-parag" class="venture-paragraph" > Members receive a ROI from their enterprises </p>
	</div>

</div>
