<% provide(:title, "Ventures") %>
<div class="content">
	<h4 style="text-align:center;"> HOW IT WORKS</h4>
	<%= image_tag("venture.png", :class => "ventureIcon") %>
	<h4 id="venture-member"> Members </h4>
	<p id="venture-member-parag" class = "deem-paragraph"> Pool their resources into prefered investment or enterprise opportunities in  African countries and across the Globe </p>
	<p id="venture-join"> Join </p>
	<h4 id="venture-club"> Clubs </h4>
	<p id="venture-ben-parag" class = "deem-paragraph"> Beneficiaries access funds to run their small + medium sized enterprises </p>
	<p id="venture-fund"> Fund </p>
	<h4 id="venture-ben"> Beneficiaries </h4>
	<p id="venture-improve">  Improve + Strengthen </p>
	<p id="venture-imp-parag" class = "deem-paragraph"> Small + Medium sized enterprises are important in providing prosperity for local economies and the countries </p>
	<h4 id="venture-econ"> Economies + Communities </h4>
	<p id="venture-provide"> Provide </p>
	<h4 id="venture-roi"> Return On Investment </h4>
	<p id="venture-roi-parag" class = "deem-paragraph"> Members receive a ROI from their enterprises </p>
</div>
