<h4> NEMABOLLON ACCOUNT ACTIVATION</h4>
<p> Hello,  <%=@user.firstname %> </p>

<p> Welcome to the Nemabollon Platform. To ensure security please click the link below to verify that this account belongs to you. </p>

<% if @user.user_type == "investor" %>
	<%= link_to "Activate", activate_investor_url(@user.activation_token,
                                                    email: @user.email) %>
<% else %>
	<%= link_to "Activate", activate_beneficiary_url(@user.activation_token,
                                                    email: @user.email) %>
<% end %>	                                                  
