<h4 class="contact-header" style="margin-top: 0;"> UPDATE PROPOSAL STATUS </h4>
<h1> <%= @c %></h1>
<button class="dash-bttn" id="accepted-status"> ACCEPTED </button>
<button class="dash-bttn" id="pending-status"> STATUS </button>
