// Place all the styles related to the Beneficiaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {
	
	.allOptions{
		display: none;
	}

	#ben-content,  #investor-dash{
		overflow: auto;
		position: fixed;
		top: 100px;
		width: 80%;
		left: 15%;
		height: 80%;
		background-color: rgba(255, 255, 255, 0.35);
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.90) inset;
	}

	#ben-opts{
		position: fixed;
		top: 150px;
		left: 0;
	}


}

@media screen and (max-width: 1242px) {
	
	#ben-content,  #investor-dash{
		overflow: auto;
		position: fixed;
		top: 100px;
		width: 80%;
		left: 18%;

		height: 80%;
		background-color: rgba(255, 255, 255, 0.35);
		-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.90) inset;
	}
}