// Place all the styles related to the Careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	#careers-apply{
		position: fixed;
		bottom: 45px;
		right: 0;
	}

	.check-application{
		display: none;
	}

	.close{
		position: relative;
		bottom: 294px;
		background-color: rgba(255, 255, 255, 0.35);
		color: #3f83b1;
		border-radius: 27px;
		outline: none;
		border: none;
	}
	
}

@media screen and (max-width: 1242px) {

}