// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
#contact-info{
	width: 50%;
	margin: auto;
	height: 450px;
	overflow: auto;
}

#contact-second{
	position: absolute;
	left: 40%;
	top: 20%;
}


}

@media screen and (max-width: 480px) {
#contact-info{
	width: 100%;
	position: fixed;
	left: 0;
	height: 450px;
	overflow: auto;
	}

#contact-second{
	position: fixed;
	left: 210px;
	top: 338px;
}


}