// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {

	#emp-logout{
		z-index: 10;
		position: fixed;
		bottom: 35px;
		right: 5px;
	}

	.empl-opts{
		display: none;
	}


	.employee-links{
		text-decoration: none;
		cursor: pointer;
		color: #7f60a9;
		font-family: 'Catamaran', sans-serif;
	}

	.employee-update-proposal{
		display: none;
		position: absolute;
		top: 10%;
		left: 20%;
		//background-color: #a5cdff38;
		background-color: #7f60a9;
		border-radius: 5px;
		width: 350px;
		height: 450px;
	}


   #memo-table{
      position: fixed;
      top: 150px;
      left: 40%;
      height: 650px;
      width: 450px;
      overflow: auto;
      border-radius: 5px;
   }


	.flip-container{
   display: inline-block;
   margin-left: 15px;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -o-perspective: 1000;
   perspective: 1000;
   overflow: auto;
   cursor: pointer;

}

.flip-container, .front, .back{
   width: 250px;
   height: 290px;
   border-radius: 10px;

}

.flipper{
   transition: 0.6s;
   -moz-transform: perspective(1000px);
   -moz-transform-style: preserve-3d;
   position: relative;
}

.front, .back{
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -o-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-transition: 0.6s;
   -webkit-transform-style: preserve-3d;

   -moz-transition: 0.6s;
   -moz-transform-style: preserve-3d;

   -o-transition: 0.6s;
   -o-transform-style: preserve-3d;

   -ms-transition: 0.6s;
   -ms-transform-style: preserve-3d;

   transition: 0.6s;
   transform-style: preserve-3d;

   position: absolute;
   top: 0;
   left: 0;


}
.back{
   -webkit-transform: rotateY(-180deg);
   -moz-transform: rotateY(-180deg);
   -o-transform: rotateY(-180deg);
   -ms-transform: rotateY(-180deg);
   transform: rotateY(-180deg);
   padding-top: 40px;
   padding-left: 15px;
   padding-right: 15px;
}
.flip-container:hover .back, .flip-container.hover .back{
   -webkit-transform: rotateY(0deg);
   -moz-transform: rotateY(0deg);
   -o-transform: rotateY(0deg);
   -ms-transform: rotateY(0deg);
   transform: rotateY(0deg);
}
.flip-container:hover .front, .flip-container.hover .front{
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   transform: rotateY(180deg);
}

.front{
   z-index: 2;
   padding-top: 40px;
   padding-left: 15px;
   padding-right: 15px;
}

.priv-opts{
      display: none;
}
      #edit-empl-acct ,#upload-empl-files, #show-all-files{
         position: fixed;
         bottom: 45px;
      }

            #upload-empl-files{
         left: 45%;
      }

      #show-all-files{
         left: 55%;
      }

      #upload-empl{
         display: none;
      }

	

}

@media screen and (max-width: 1242px) {
      #edit_employee_acct{
         position: fixed;
         left: 220px;
      }

      #edit-empl-acct ,#upload-empl-files, #show-all-files{
         position: absolute;
      
      }

      #upload-empl-files{
         left: 20%;
      }

      #show-all-files{
         left: 40%;
      }

      #upload-empl{
         display: none;
      }



}