// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {
	.emp-opts{
		padding: 25px 50px;
		cursor: pointer;
		color: #7f60a9;
		font-family: 'Catamaran', sans-serif;
	
	}

	.empl-opts{
	display: none;
	}

	#employee-dash{
		width: 180px;
		height: 750px;
		overflow: auto;
		position: fixed;
		margin-top: 128px;
	}

	#employee-profile{
		position: absolute;
		top: 15%;
		left: 3%;
	}

	.emp-avatar{
		display: block;
		position: fixed;
		margin-top: 25px;
		margin-left: 25px;
		top: 10px;

	}

	#emp-logout{
		position: fixed;
		bottom: 15px;
		left: 55%;
		cursor: pointer;
		z-index: 5;
	}

	#employee-content{
		background-color: #361d4e;
		width: 90%;
		height: 720px;
		position: fixed;
		top: 15%;
		right: 0;
	}

	#add-employee{
		position: fixed;
		top: 140px;
		right: 0;
	}
	#lastname-emp{
		position: absolute;
		top: 72px;
		left: 28%;
	}
	.forms-investor{
		height: 550px;
		overflow:auto;
	}

}


@media screen and (max-width: 480px) {
	#lastname-emp{
		position: absolute;
		top: 71px;
		left: 28%;
	}

	.forms-investor{
		height: 550px;
		overflow:auto;
		border: 2px solid pink;
	}
}