// Place all the styles related to the Investors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {

body{
    font-family: 'Zilla Slab', serif;
    color: #C7E1F5;
}
.forms-investor{
	position: relative;
	left: 35%;
    width: 50%;
    padding: 10px;
}

.dash-profile{
	padding: 20px;
	
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
    font-size: 1.0em;
    color: white;
    background-color: #c7e1f561;
    border: none;
}

input[type=text], input[type=email], input[type=date], input[type=password], input[type=number], select{

    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
    font-size: 1.0em;
    color: white;
    background-color: #c7e1f561;
    border: none;
}

#lastname{
	position: absolute;
	top: 21.6%;
	left: 28%;
}
input[type=email], input[type=password]{
	width: 470px;
 }

 input[type=submit]{
    background-color: #E04398;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
    float: center;
    position: relative;
    left: 18%;
}



#dash-content{
	background-color: #361d4e;
	width: 85%;
	height: 960px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

}

.investor-bttn-options{
	padding: 34px 50px;
	cursor: pointer;
	color: #7f60a9;
	font-family: 'Catamaran', sans-serif;
}
.allOptions{
	display:none;
}

#logout-bttn{
	color: #7f60a9;
	text-decoration: none;
    text-align: center;
    pointer: cursor;
    position: fixed;
	bottom: 0;
	left: 59px;
	
}

.app-links{
	color: #7f60a9;
	text-decoration: none;
    text-align: center;
    pointer: cursor;
}

.app-links a:hover{
	color: #E04398;
}

.dash-account{
	background-color: #44235f;
	height: 650px;
	width: 30%;
	margin: auto;
	display: none;
}

#dash-contacts{
	width: 60%;
}

.contact-box{
	display: inline-block;
	width: 200px;
	height: 100px;
	margin: 1em;
}

.acct-default{
	display: block;
}


.dash-bttn{
	 background-color: #E04398; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

#dash-acct-opts{
	position: fixed;
	bottom: 0;
	left: 34%;
	width: 65%;

}



#show-news{
	background-color: #361d4e;
	color: #E04398;
}

.default-news{
	display: block;
}

#news-header{
	height: 100px;
	width: 95%;
	background-color: #44235f;
	margin-left: 25px;
	overflow: auto;
}
#news-reminders{
	height: 100px;
	width: 95%;
	background-color: #44235f;
	margin-left: 25px;
	position: absolute;
	bottom: 5%;
	overflow: auto;
}

#news-sub{
	height: 450px;
	width: 30%;
	background-color: #44235f;
	margin-left: 25px;
	position: absolute;
	top: 25%;
	left: 2%;
	overflow: auto;
}

#news-main{
	height: 650px;
	width: 60%;
	background-color: #44235f;
	margin-left: 25px;
	position: absolute;
	right: 50px;
	top: 13%;
	overflow: auto;
}


}
@media screen and (max-width: 480px) {
	
	.content{
	background-color: #361d4e;
	width: 100%;
	height: 650px;
	position: relative;
	top: 154px;
	
}

#lastname{
	position: fixed;
	top: 242px;
	left: 250px;
}
	
.forms-investor{
    position: relative;
	left: 0;
    width: 181%;
    padding: 10px;
    
	}

	input[type=email], input[type=password]{
	width: 440px;
 }
#acct-header{
	text-align: initial;
}

.dash-account{
	background-color: #572C7A;
}

	
#dash-content{
	background-color: #361d4e;
	width: 75%;
	height: 960px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

}

#news-header{
	height: 100px;
	width: 40%;
	background-color: #44235f;
	margin-left: 25px;
	overflow: auto;
}

#news-sub{
	height: 100px;
	width: 40%;
	background-color: #44235f;
	position: absolute;
	left: 45%;
	top: 10.4%;
	overflow: auto;
}

#news-main{
	height:350px;
	width: 325px;
	background-color: #44235f;
	position: absolute;
	right: 20px;
	top: 22%;
	overflow: auto;
}

#news-reminders{
	height: 210px;
	width: 325px;
	background-color: #44235f;
	position: absolute;
	bottom: 18%;
	overflow: auto;
	right: 20px;
}


#logout-bttn{
	color: #7f60a9;
	text-decoration: none;
    text-align: center;
    pointer: cursor;
    position: fixed;
	bottom: 0;
	left: 80%;
	
}
.investor-bttn-options{
	padding: 34px 20px;
	cursor: pointer;
		color: #7f60a9;
	 font-family: 'Catamaran', sans-serif;
}

.dash-account{
	background-color: #44235f;
	height:550px;
	width: 325px;
	margin: auto;
	display: none;
	position: fixed;
	left: 27%;
	top: 15%;
}

.acct-default{
	display: block;
}

#dash-header{
	height: 100px;
	width: 100%;
	background-color: #572C7A;
	overflow: auto;
}

#dash-footer{
	height: 100px;
	width: 100%;
	background-color: #572C7A;
	overflow: auto;
	position: fixed;
	bottom: 0;
	right: 0;
}


.dash-bttn{
	background-color: #E04398; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    margin: 10px;
}

#dash-acct-opts{
	position: fixed;
	bottom: 10%;
	left: 34%;
	width: 65%;

}

#dash-contacts{
	overflow: auto;
}



}