// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {

body{
	font-size: 1.1em;
}
header{
	position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    font-family: 'Catamaran', sans-serif;


}
.ventureIcon{
	z-index: 5;
	position: absolute;
	left: 20%;
	top: 30%;
	width: 800px;
	height: 350px;
}

#venture-join{
	position: absolute;
	top: 55%;
	left: 20%;
	 font-family: 'Catamaran', sans-serif;
}

#venture-member-parag{
	position: absolute;
	color: #c7e1f51c;
	width: 150px;
	text-align: center;
	top: 58%;
	left: 20%;
	font-family: 'Catamaran', sans-serif;
	cursor: pointer;
	animation-name: venture-anim;
    animation-duration: 12s;
   	animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#venture-ben-parag{
	position: absolute;
	color: #c7e1f51c;
	width: 150px;
	text-align: center;
	top: 78%;
	left: 37%;
	font-family: 'Catamaran', sans-serif;
	cursor: pointer;
	animation-name: venture-anim;
    animation-duration: 12s;
   	animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#venture-imp-parag{
	position: absolute;
	color: #c7e1f51c;
	width: 150px;
	text-align: center;
	top: 60%;
	left: 55%;
	font-family: 'Catamaran', sans-serif;
	cursor: pointer;
	animation-name: venture-anim;
    animation-duration: 12s;
   	animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#venture-roi-parag{
	position: absolute;
	color: #c7e1f51c;
	width: 150px;
	text-align: center;
	top: 35%;
	left: 53%;
	font-family: 'Catamaran', sans-serif;
	cursor: pointer;
	animation-name: venture-anim;
    animation-duration: 12s;
   	animation-delay: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#venture-fund{
	position: absolute;
	top: 75%;
	left: 40%;
	 font-family: 'Catamaran', sans-serif;
}

#venture-improve{
	position: absolute;
	top: 55%;
	left: 55%;
	 font-family: 'Catamaran', sans-serif;
}

#venture-provide{
	position: absolute;
	top: 30%;
	left: 55%;
	 font-family: 'Catamaran', sans-serif;
}


#venture-member{
	position: absolute;
	top: 45%;
	 font-family: 'Catamaran', sans-serif;
}

#venture-club{
	position: absolute;
	 font-family: 'Catamaran', sans-serif;
	 top: 85%;
	 left: 30%;
}

#venture-ben{
	position: absolute;
	 font-family: 'Catamaran', sans-serif;
	 top: 85%;
	 left: 50%;
}

#venture-econ{
	position: absolute;
	 font-family: 'Catamaran', sans-serif;
	 top: 45%;
	 left: 65%;
}

#venture-roi{
	position: absolute;
	 font-family: 'Catamaran', sans-serif;
	 top: 25%;
	 left: 40%;
}


@keyframes venture-anim{
from{
		 color:  #C7E1F5;
}
to{
		color: #c7e1f51c;
}
}

li {
    #display: inline;
    float: left;
}

li a {
    #display: inline-block;
    display: block;
    color: #C7E1F5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    pointer: cursor;
}

footer{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
}

li a:hover {
    color: #7F60A9;
    background-color: 2px solid #482768;
    pointer: cursor;
}

current_link{
    color: #E04398;
    border: 2px solid #E04398;
}

body{
	background-color: #572C7A;
}

.content{
	background-color: #361d4e;
	width: 100%;
	height: 650px;
	position: absolute;
	top: 15%;
	left: 0;
}

h4{
	color: #E04398;
	position: relative;
	left: 15%;
	font-family: 'Zilla Slab', serif;
}

h1{
	color: #E04398;
	font-family: 'Catamaran', sans-serif;
}
.deem-paragraph{
	color: #c7e1f51c;
	width: 180px;
	text-align: center;
	font-family: 'Zilla Slab', serif;
	font-size: 0.85em;
}

.main-content{
	width: 220px;
	cursor: pointer;
}

#main{
	position: absolute;
	left: 45%;
	top: 20%;
}

#main p{
	animation-name: home-page-anim;
    animation-duration: 12s;
   	animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#fund{
	position: absolute;
	left: 10%;
	top: 60%;
}

#fund p{
	animation-name: home-page-anim;
    animation-duration: 12s;
   	animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#growth{
	position: absolute;
	left: 10%;
	top: 10%;
}

#growth p{
	animation-name: home-page-anim;
    animation-duration: 12s;
   	animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#connect{
	position: absolute;
	left: 80%;
	top: 60%;
}

#connect p{
	animation-name: home-page-anim;
    animation-duration: 12s;
   	animation-delay: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#roi{
	position: absolute;
	left: 80%;
	top: 10%;
}

#roi p{
	animation-name: home-page-anim;
    animation-duration: 12s;
   	animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.sicon{
	position: absolute;
	left: 20%;
	top: -60%;
}
p{
	font-family: 'Zilla Slab', serif;
	font-size: 0.85em;
	color: #C7E1F5;
}


@keyframes home-page-anim{
from{
		 color:  #C7E1F5;
}
to{
		color: #c7e1f51c;
}
}
#about{
	width: 550px;
	text-align:center;
	position: relative;
	left: 30%;
	top: 17%;
}

.policy-cards{
	height: 600px;
	overflow: auto;
	text-align: center;
	width: 75%;
	margin: auto;
	
}

.policy-cards p{
	color: #C7E1F5;
}

#login-logo{
	position: absolute;right: 20%;
}

#co-address{
	padding: 0px;
	margin: 0;
	position:fixed;
	bottom: 50px;
	color: #E04398;
}



}

@media screen and (max-width: 480px) {

.content{
	background-color: #361d4e;
	width: 480px;
	height: 850px;
	position: fixed;
	right: 0;
	top: 15%;
	left: 0;
}

#contact-content{
	height: 500px;
	width: 100%;
}

#main{
	position: absolute;
	left: 35%;
	top: 20%;
}

#fund{
	position: absolute;
	left: 5%;
	top: 75%;
}

#growth{
	position: absolute;
	left: 5%;
	top: 2%;
}

#connect{
	position: absolute;
	left: 60%;
	top: 75%;
}

#roi{
	position: absolute;
	left: 55%;
	top: 2%;
}

.sicon{
	position: absolute;
	left: 20%;
	top: -60%;
}
p{
	font-family: 'Zilla Slab', serif;
	font-size: 0.85em;
	color: #C7E1F5;
}
#about{
	width: 450px;
	text-align:center;
	position: relative;
	left: 2%;
	top: 17%;
}

.ventureIcon{
	position: absolute;
	left: 10%;
	top: 44%;
	width: 400px;
	height: 150px;
}	
}