// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 2560px) {
	body{
		font-family: 'Catamaran', sans-serif;
		font-size: 0.85em;
        background-color: #361d4e;
	}


	.alert-danger, .alert-error{
		background-color: #ff000017;
    	z-index: 50;
    	color: red;
    	position: fixed;
    	top: 15px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 100%;
    	left: 0;
    	text-align: center;
	}

	.alert-success{
		background-color:#ff00e02e;
    	z-index: 50;
    	color: #b462b5;
    	position: fixed;
    	top: 15px;
    	padding: 14px;
    	border-radius: 5px;
    	width: 100%;
    	left: 0;
    	text-align: center;
	}

    .alert-info{
        background-color:#00ff082e;
        z-index: 50;
        color: #4caf50;
        position: fixed;
        top: 15px;
        padding: 14px;
        border-radius: 5px;
        width: 100%;
        left: 0;
        text-align: center;
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        background-color: #572C7A;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        overflow: hidden;
        font-family: 'Catamaran', sans-serif;
    }

    li {
        #display: inline;
        float: left;
    }

    li a {
    #display: inline-block;
    display: block;
    color: #a5cdff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    pointer: cursor;
    }

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #111D33;
    background-color: #572C7A;

}

footer a{
    color: #a5cdff;
    font-size: 0.65em;
}

li a:hover {
    color: #fde4fc;
    pointer: cursor;
}

.current_link{
   // color: #E04398;
   // border: 2px solid #E04398;
   color: #fde4fc;
    border: 2px solid #aa3fb7; 
}

#login-opts, #show-login{
    position: fixed;
    right: 5px;
    top: 65px;
    z-index: 15;
}

#show-login{
        top: 0;
}

.content{
    background-color: #361d4e;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
     bottom: 0;
    right: 0;
    top: 0;
     overflow: auto;
     z-index: -5;
    }

.contact-header{
        color: #a5cdff;
        font-size: 1.1em;
        font-weight: normal;
        text-align: center;
}

.terms-content{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid #a5cdff;; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid #a5cdff;; /* Firefox */
    column-rule: 1px solid #a5cdff;
    color: #6f86bd;
    font-size: 0.85em;

}

p, label{
  //color: #6f86bd;
  color: #8dc2e6;
}


    input[type=text], textarea, input[type=email],  input[type=number], input[type=password], select {
        width: 80%;
        padding: 12px 20px;
        margin-left: 45px;
        box-sizing: border-box;
        //border: 2px solid #03d3f4;
        border: 1px solid #b8e2ff;
        background-color: #a5cdff38;
        border-radius: 2px;
         z-index: 50;
         color: #b8e2ff;
         font-size: 1.1em;

    }


     input[type=submit]{
    //background-color: #3f83b1;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
        position: relative;
    left: 34%;
            background-color: #a5cdff38;
        color: #8dc2e6;
        border: 2px solid #8dc2e6;
        margin-top: 30px;
    
}

input[type=submit]:hover, input[type=submit]:focus {
    background-color: #8dc2e6;
    border: none;
    color: white;


    }


        label{
        position: relative;
        left: 8%;
    }

    .forms, .proj-plan{
        background-color: #663490;
        margin: auto;
        width: 30%;
        height: 65%;
        border-radius: 10px;
        z-index: 50;
        overflow: auto;

    }

    .proj-plan{
        display: none;
    }



    .main-page-content{
        z-index: 45;


    }

    #main, #gs-paragraph{
    position: absolute;
    left: 45%;
    top: 35%;
}

#gs-paragraph{
    top: 55%;
}

#gs-paragraph p{
    animation-name: home-page-anim;
    animation-duration: 12s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
}

#fund, #fund-paragraph{
    position: absolute;
    left: 13%;
    top: 60%;
}

#fund-paragraph{
    left: 11%;
    top: 75%;
}

#fund-paragraph p{
    animation-name: home-page-anim;
    animation-duration: 12s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


#growth, #growth-paragraph{
    position: absolute;
    left: 20%;
    top: 20%
}

#growth-paragraph{
    left: 17%;
    top: 32%;

}

#growth-paragraph p{
    animation-name: home-page-anim;
    animation-duration: 12s;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#connect, #connect-paragraph{
    position: absolute;
    left: 78%;
    top: 60%;
}

#connect-paragraph{
        left: 77%;
        top: 75%;
}

#connect-paragraph p{
        animation-name: home-page-anim;
        animation-duration: 12s;
        animation-delay: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
}

#roi, #roi-paragraph{
    position: absolute;
    left: 65%;
    top: 20%
}
#roi-paragraph{
    left: 63%;
    top: 35%;
}

#roi-paragraph p{
        animation-name: home-page-anim;
    animation-duration: 12s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.sicon{
    position: absolute;
    left: 20%;
    top: -60%;
}

.main-content{
    width: 210px;
    font-size: 1.2em;
}

.home-header{
        color:  #aa3fb7;
        text-align: center;
        font-size: 1.1em;
}

.deem-paragraph{
    width: 180px;
    text-align: center;
    font-size: 0.85em;
    color:  #8dc2e640;
    cursor: pointer;
}

@keyframes home-page-anim{
from{
         color:  #8dc2e640;
}
to{
        color: #8dc2e6;
}
}

.about{
    margin: auto;
    width: 20%;
}

    .app-links{
        //color: #3f83b1;
        text-align: center;
        text-decoration: none;
        color: #b8e1fd;


    }

    #co-address{
        color: #fde4fc;
    }

        .log-opts, #cont, #change-pic, .upload-avatar{
        border-bottom: 1px solid #361d4e38;
        padding: 12px;
        border-radius: 5px;
        font-family: 'Catamaran', sans-serif;
        background-color: #a5cdff38;
    }

    #cont{
        position: fixed;
        bottom: 100px;
        left: 35%;
    }

    #cont h1{
        color: #3157a0;
    }

    #login-opts{
        display: none;
    }

    .slide-wrapper {
        width: 2912px;
        -webkit-animation: highlight 18s ease infinite;
    }

    .highlights {
    float: left;
     height: 590px;
    width: 650px;

    }




    @-webkit-keyframes highlight {
        20% {margin-left: 0px;}
        30% {margin-left: -728px;}
        50% {margin-left: -728px;}
        60% {margin-left: -1456px;}
        70% {margin-left: -1456px;}
        80% {margin-left: -2184px;}
        90% {margin-left: -2184px;}
    }

        #left-home{
        left: 0;
        position: fixed;
        width: 50%;
        height: 100%;
        background-color: #502975ab;
    }


     #right-home{
        background-color: #3B275B;
        position: fixed;
        right:0;
        width:50%;
        height: 100%;
    }

    .left-headers {
        position: absolute;
        left: 5%;
        top: 15%;
        height: 585px;
        overflow: auto;
        width: 450px;
    }

      .left-headers h4{
        cursor: pointer;
      }

      .h-content{
        position: absolute;
        right: 5%;
        top: 15%;   
        height: 650px;
        width: 450px;
        overflow: auto;
      }

      .h-header{
        color: #d6bad5;
        font-size: 1.5em;
        text-align: center;
      }

      .slidescroll{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      }

      .bg-image{
        display: inline-block;
      }

      #samplePic{
        width: 100%;
        height: 100%;

      }


      .bg-image{
        width: 100%;
        height: 100%;
      }

     .slides{
        width: 100%;
        height: 100%;
        display: none;
      }

      .highlight-content{
        position: fixed;
        top: 250px;
        left: 40%;
        width: 550px;
        height: 450px;
      }

      .high-header{
        font-size: 5.5em;
        color: #C2188D;
      }
      .high-header{
        text-align: center;
      }





}

@media screen and (max-width: 1242px) {

    li a {
        font-size: 0.85em;
        padding: 14px 22px;
    }

    label{
        position: relative;
        left: 10%;
    }


    .forms{
        background-color: #3c2054;
        margin: auto;
        width: 70%;
        height: 65%;
        border-radius: 10px;
        z-index: 50;

    }

    .main-imgs{
        width: 100px;
        height: 100px;
    }

    #fund, #connect{
        top: 60%;
    }

    #roi{
        top: 15%;
    }

    #main{
        left: 45%;
        top: 40%;
    }


    #gs-paragraph{
        left: 35%;
        top: 50%;
    }

     #fund-paragraph{
      
        left: 2%;
        top: 70%;
    }

    #connect-paragraph{
    left: 65%;
    top: 70%;
    }

    #roi-paragraph{
    left: 62%;
    top: 25%
    }

    #growth{
        top: 15%;
    }

    #growth-paragraph{
        left: 10%;
        top: 25%
    }

    .about{
        margin: auto;
        width: 55%;
    }

    .social-icons{
        width: 25px;
        height: 25px;
    }


}