// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media screen and (max-width: 2560px) {


	.show-blog{
		  border: 2px solid #ab00ff42;
		  width: 200px;
		  display: inline-block;
		  height: 280px;
		  overflow: auto;
		  margin: 2.5em;
	}

	.blog-content{
		background-color: #ab00ff42;
		padding: 10px;
		text-align: center;
		padding-bottom: 45px;
	}

}

@media screen and (max-width: 1242px) {

}