// Place all the styles related to the StatusSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#career-new-password{
	    color: #a5cdff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    pointer: cursor;
     color: #b8e1fd;
}