<footer>
<nav>
<ul>
	<li><%= link_to "Terms", terms_path, :id => "terms-link"%></li>
  	<li><%= link_to "Privacy", privacy_path, :id => "privacy-link" %></li>
  	<li><%= link_to "Careers", careers_path , :id => "careers-link"%></li>
  	<li><%= link_to "Contact", contact_path, :id => "contact-link"  %></li>
</ul>
</nav>
</footer>